--install.ignore-engines true
--install.ignore-scripts false
--install.no-bin-links false
--install.ignore-platform true
--install.ignore-optional true
--install.prefer-offline true
--install.frozen-lockfile false
--install.non-interactive false
--install.legacy-peer-deps true 